.main {
  margin-top: 8vh;
  display: flex;
  flex-direction: column; /* Update to column layout */
  background-color: #ffffff; 
  width: 100%;
  min-height: 50vh; /* Change height to min-height for better responsiveness */
  align-items: center;
}

.info {
  margin-top: -8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; 
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}






img {
    object-fit: contain;
}
  
.form-box {
    background-color: white;
    width: 80%; /* Update width for better responsiveness */
    max-width: 600px; /* Limit maximum width */
    padding: 20px; 
    border: 1px solid black; 
    border-radius: 10px; /* Add border radius */
    margin-top: 20px; /* Adjust spacing */
  }
  
  .form-box h2 {
    display: flex;
    justify-content: center;
    margin: 0; /* Remove margin */
    padding: 1rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input, textarea {
    width: 100%; /* Adjust width */
    margin: 10px 0; /* Adjust margin */
    padding: 10px;
    border: 1px solid #000000; 
    border-radius: 4px; 
    min-height: 50px; /* Adjust height */
    resize: none;
  }
  
  button {
    width: 50%; /* Adjust width */
    max-width: 200px; /* Limit maximum width */
    margin-top: 10px; /* Adjust margin */
    padding: 10px;
    border: 1px solid #000000; 
    border-radius: 4px;
    cursor: pointer; /* Add cursor pointer */
    background-color: #ffd500;
  }
