.flex-container{
    display: flex;
    flex-direction: row-reverse;
}

.postInfo{
    margin-left: 110px;
    margin-right: 175px;
    margin-top: 115px;
}

.postContent{
    margin-top: 25px;
    margin-left: 110px;
    margin-right: 175px;
    line-height: 2.5;
}

.morePosts{
    margin-top: 115px;  
    margin-left: 50px;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 14px;
      
}

  
.postCard {
    padding: 50px;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 14px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    border-radius: 14px;
    height: 100%;
    border: 1px solid transparent;
    transition-duration: 200ms;
}
