body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    margin-bottom: 10px;
}  

main {
    padding: 100px;
    margin-top: 50px;
}

img {
    margin: 5px;
}

.test-img {
    background-color: #ddd;
}

.blog-post {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.blog-post h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.blog-post p {
    line-height: 1.5;
}

.post-info {
    font-size: 0.8em;
    color: #999;
    margin-top: 10px;
}

.author {
  font-style: italic;
  margin-bottom: 10px;
}
.postsContainer {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 14px;
}

.postCard {
  padding: 14px;
  background: white;
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 14px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  border-radius: 14px;
  height: 100%;
  border: 1px solid transparent;
  transition-duration: 200ms;
}


