
.main {
  display: flex;
  justify-content: center;
}

.form-div {
  display: flex;
  flex-direction: column;
  

  min-width: 300px;
  width: 20vw;


  margin-top: 60px;

  padding: 0px;

  background-color: rgb(239, 253, 255);
  border-style: solid;
  border-color: rgb(239, 253, 255);
  border-width: 50px;
  border-top-width: 20px;
  border-bottom-width: 30px;
  border-radius: 20px;
  filter: drop-shadow(0px 0px 10px rgba(26, 25, 25, 0.30));

  outline-style: solid;
  outline-width: 5px;
  outline-color: #85949b;
  
}

.form-title {
  width: 100%;
}
.form-title div {
  margin: 0 0;
  margin-bottom: 10px;
}
.form-title h1 {
  text-align: left;
  font-size: 26px;
  font-family: FuturaPTBold;

}
.line {
  width: 100%;
  height: 2px;
  background-color: #85949b;
  border-radius: 8px;
}

.form-main {
  display: flex;
  flex-direction: column;

  gap: 20px;
}

.form-main:first-child {
  margin-top: 20px;
}
.form-main h1 {
  text-align: left;

  font-size: 32px;
}

.username-input {
  height: 30px;

  min-width: 200px;
  width: 100%;
  font-size: 18px;

  border-radius: 10px;
  border-color: #85949b;
  border-style: solid;
  user-select: none;

  padding: 6px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-family: FuturaPT;
  transition: 600ms ease;

  color: #85949b;
}
.username-input:focus {
  height: 35px;
  transition: 400ms ease;
  color: #1a1c1d;
}

.password-input {
  height: 30px;

  min-width: 200px;
  width: 100%;
  font-size: 18px;

  border-radius: 10px;
  border-color: #85949b;
  border-style: solid;
  user-select: none;

  padding: 6px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-family: Arial, Helvetica, sans-serif;
  font-kerning: 0px;
  transition: 600ms ease;
  color: #85949b;
}
.password-input:focus {
  height: 35px;
  transition: 400ms ease;
  color: #1a1c1d;
}

.form-main button {
  border-style: solid;
  border-width: 3px;
  border-color: #85949b;

  background-color: #effdff;

  margin-top: 20px;
  height: 40px;
  border-radius: 10px;

  outline-style: solid;
  outline-color: #85949b;
  outline-width: 0px;

  font-family: FuturaPTBold;
  font-size: 20px;
  color: #444b4e;

  transition: 200ms ease;
}
.form-main button:hover {
  border-color: #393e41;
  filter: drop-shadow(0px 0px 10px rgba(26, 25, 25, 0.30));

  color: #373c3f;
  transition: 200ms ease;

  outline-color: #171819;
  outline-width: 2px;
}